* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    min-height: 40px;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px; 
    gap: 8px 15px;  /*8px é o gap vertical e o 15px é gap horizontal para que quando a tela diminuir os botoes quebrem linha  */
    
}
 
.logo-nav-bar {
    width: 180px;
}

.header-btn-group {
    display: flex;
    gap: 15px;

}

.nav-btn {
    font-size: 16px;
    padding: 6px;
    background-color: transparent;
    border: 2px solid transparent;
    color: white;
    cursor: pointer;
}
 

.section-title {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
}


.section-description {
    text-align: center;
    color: #383838;
}


.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-area: "main-content side-bar-content";
    padding: 20px;
    flex: 1 0 auto;
}

.category-card {
    width: 280px;
    height: 380px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}


.category-card:hover {
    border-color: black;
}


.main-card-img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}


.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    grid-area: "main-content";
}

.main-category-card-title {
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
}

.main-category-card-description {
    padding: 6px;
}

.sidebar-content {
    background-color: #383838;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    grid-area: "sidebar-content";
    gap: 20px;
}

.sidebar-card {
    width: 75%;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.sidebar-card:hover {
    border-color: gainsboro;
}

.sidebar-card-img {
    width: 100%;
    border-radius: 10px;
}

.sidebar-card-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}


.footer {
    width: 100%;
    min-height: 40px;
    background-color: #292929;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 15px;
}

.logo-footer {
    width: 180px;
}

.footer-anchor {
    color: white;
    text-decoration: none; /* tira o sublinhado azul das ancoras*/

 }

 
@media(max-width: 630px) {

    .grid-container {
        grid-template-areas: "main-content" "sidebar-content";
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .sidebar-content {
        min-width: auto;
    }

    .footer-anchor {
        font-size: 19px;
    }
}


@media(max-width:463px){

    .header {
        justify-content: center;
    }

    .footer {
        justify-content: center;
    }
}
 
