* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: darkgray;
    min-height: 100vh;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);  /* ou 1fr 2fr 1fr ou 25% 50% 25% */
    gap: 10px 15px;
    grid-auto-rows: minmax(210px, 100%);
}

.item {
    border: 1px solid black;
    background-color: white;
    font-size: 30px;
    padding: 10px;
}



